{% extends "base.html" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<div class="book-overview">
    <header class="book-header">
        <h1 class="book-overview-title">{{ book.title }}</h1>
        <h2 class="book-subtitle">{{ subtitle }}</h2>
        <div class="book-synopsis">
            <em>{{ synopsis }}</em>
        </div>
    </header>

    <hr class="book-section-divider" aria-hidden="true">

    <section class="book-section">
        <h3 class="book-section-title">{{ _('characters') }}</h3>
        <ul class="characters-grid">
            {% for character in characters %}
                <li class="character-item">
                        <div class="char-name" onclick="toggleDescription({{ loop.index0 }})" style="cursor: pointer;"><strong>{{ character.name }}</strong></div>
                        <div class="char-details" id="div-details-{{ loop.index0 }}" style="display: none;"><small>{{ character.description }}</small></div>
                </li>
            {% endfor %}
        </ul>
    </section>

    <hr class="book-section-divider" aria-hidden="true">

    <section class="book-section chapters-container">
        <h3 class="book-section-title">{{ _('chapters') }}</h3>
        
        {% for chapter in chapters %}
            <article class="chapter">
                <h4 class="chapter-title" onclick="toggleDescription('chapter-' + {{ loop.index0 }})" style="cursor: pointer;">{{ _('chapter') }} {{ chapter.chapter_number }}: {{ chapter.chapter_title }}</h4>
                <p class="chapter-synopsis" id="div-details-chapter-{{ loop.index0 }}" style="display: none;">{{ chapter.chapter_synopsis }}</p>
            </article>
        {% endfor %}
    </section>
</div>

<script>
function toggleDescription(index) {
    const description = document.getElementById('div-details-' + index);
    if (description.style.display === 'none' || description.style.display === '') {
        description.style.display = 'block';
    } else {
        description.style.display = 'none';
    }
}
</script>
{% endblock %}